* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(100, 99, 99);
}

.container {
    max-width: 1020px;
    margin: auto;
    text-align: center;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.header__img {
    max-width: 400px;
    margin-right: 50px;
}

.header__title {
    margin-bottom: 20px;
}

.contacts {
    font-style: italic;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.experience__link {
    text-decoration: none;
    color: rgb(182, 158, 21);
}

.experience__link:hover {
    color: rgb(235, 205, 35);
}

.experience__details {
    margin-top: 10px;
}

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer {
    margin-bottom: 30px;
}

.footer__logo {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: url("assets/rs_school_js.svg") no-repeat center;
    margin-top: 10px;
}

.footer__github {
    text-decoration: none;
    color: rgb(182, 158, 21);
}

.footer__github:hover {
    color: rgb(235, 205, 35);
}

h5 {
    margin-top: 5px;
}