* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(100, 99, 99);
}

.container {
    max-width: 1020px;
    margin: auto;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__img {
    max-width: 400px;
    margin-right: 50px;
}

.header__title {
    margin-bottom: 20px;
}

.contacts {
    font-style: italic;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

.experience__link {
    text-decoration: none;
    color: rgb(182, 158, 21);
}

.experience__link:hover {
    color: rgb(235, 205, 35);
}

.experience__details {
    margin-top: 10px;
}

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}